@import "../variables.scss";

.acknowledgements {
    &__content {
        &__cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 32px;
            row-gap: 61px;
            margin: 56px 0;
            @media (max-width: $width-l) {
                grid-template-columns: repeat(3, 1fr);
                column-gap: 24px;
                row-gap: 58px;
                margin: 44px 0;
            }
            @media (max-width: $width-m) {
                row-gap: 49px;
            }
            @media (max-width: $width-s) {
                row-gap: 32px;
            }
            @media (max-width: $width-mobile) {
                grid-template-columns: 1fr;
                row-gap: 32px;
                margin: 36px 0;
            }
        }      
    }
    .pagination {
        display: flex;
        justify-content: center;
    } 
}