@import "../variables.scss";

.acknowledgements {
    &__content {
        &__cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 32px;
            row-gap: 61px;
            margin: 56px 0;
            @media (max-width: $width-l) {
                grid-template-columns: repeat(3, 1fr);
                column-gap: 24px;
                row-gap: 58px;
                margin: 44px 0;
            }
            @media (max-width: $width-m) {
                row-gap: 49px;
            }
            @media (max-width: $width-s) {
                row-gap: 32px;
            }
            @media (max-width: $width-mobile) {
                grid-template-columns: 1fr;
                row-gap: 32px;
                margin: 36px 0;
            }
           /* .card {
                display: flex;
                flex-direction: column;
                &__img {
                    height: 529px;
                    width: 100%;
                    margin-bottom: 24px;
                    @media (max-width: $width-m) {
                        height: 441px;
                        margin-bottom: 16px;
                    }
                    @media (max-width: $width-s) {
                        height: 326px;
                    }
                    @media (max-width: $width-mobile) {
                        height: 100%;
                        align-self: center;
                        margin-bottom: 16px;
                    }
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                &__date {
                    font-size: 20px;
                    color: $color-gray-600;
                    margin-bottom: 12px;
                    @media (max-width: $width-l) {
                        font-size: 18px;
                    }
                    @media (max-width: $width-m) {
                        font-size: 16px;
                        margin-bottom: 4px;
                    }
                    @media (max-width: $width-mobile) {
                        font-weight: 700;
                        margin-bottom: 12px;
                    }
                }
                &__info {
                    color: $color-text-secondary;
                    @media (max-width: $width-m) {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 140%;
                    }
                    @media (max-width: $width-s) {
                        line-height: 160%;
                    }
                    @media (max-width: $width-mobile) {
                        font-weight: 500;
                        font-size: 16px;
                    }
                }
            }*/
        }  
        
    }
    .pagination {
        display: flex;
        justify-content: center;
    } 
}