@import "../variables.scss";

.acknowledgements {
    &__content {
        &__cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 32px;
            row-gap: 61px;
            margin: 56px 0;
            @media (max-width: $width-l) {
                grid-template-columns: repeat(3, 1fr);
                column-gap: 24px;
                row-gap: 58px;
                margin: 44px 0;
            }
            @media (max-width: $width-m) {
                row-gap: 49px;
            }
            @media (max-width: $width-s) {
                row-gap: 32px;
            }
            @media (max-width: $width-mobile) {
                grid-template-columns: 1fr;
                row-gap: 32px;
                margin: 36px 0;
            }
        }      
    }
    .pagination {
        display: flex;
        justify-content: center;
    } 
    .popup {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 0;
        z-index: 100;
        &__body {
            min-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px 10px;
        }
        &__close {
            width: 24px;
            height: 24px;
            background-color: #fff;
            .card {
                &__img {
                    height: 529px;
                    width: 100%;
                    @media (max-width: $width-m) {
                        height: 441px;
                    }
                    @media (max-width: $width-s) {
                        height: 326px;
                    }
                    @media (max-width: $width-mobile) {
                        height: 100%;
                        align-self: center;
                    }
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}