@import "../variables.scss";

.activity {
    padding-top: 80px;

    .work-directions {
       
        margin-right: 549px;
        @media (max-width: $width-l) {
            margin-bottom: 44px;
            margin-right: 307px;
        }
        @media (max-width: $width-m) {
            margin-bottom: 24px;
            margin-right: 0px;
        }
        @media (max-width: $width-m) {
            margin-bottom: 20px;
        }
    }

    .work-directions-list {
        list-style-type: disc;
        list-style-position: outside;
        padding-left: 24px;
        @media (max-width: $width-m) {
            font-weight: 500;
        }
    }

    .about-heading-wrapper {
        margin-bottom: 56px;
        @media (max-width: $width-l) {
            margin-bottom: 24px;
        }
        @media (max-width: 560px) {
            border-bottom: 1px solid $color-gray-300;
            margin-bottom: 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .about-heading-icon-wrapper {
        display: none;
        @media (max-width: 560px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            padding: 18px 15px;
        }

        &>svg {
            width: 100%;
            height: 100%;
            fill: $color-gray-500;
        }

    }

    .about-heading-icon {
        transform: rotate(0deg);
        transition: $transition-base;
    }

    .about-icon-rotate {
        @media (max-width: $width-mobile) {
            transition: $transition-base;
            transform: rotate(180deg);
        }
    }

    .toggle-open-close-content {
        @media (max-width: $width-mobile) {
            position: absolute;
            visibility: hidden;
        }
       
    }

    .is-open {
        position: static;
        visibility: visible;
    }

    .about-fond-name {
        margin-right: 545px;
        @media (max-width: $width-l) {
            margin-right: 307px;
        }
        @media (max-width: $width-m) {
            margin-right: 0px;
        }
    }

    .about-fond-name-title {
        margin-bottom: 12px;
    }

    .about-fond-name-text {
        @media (max-width: $width-m) {
            font-weight: 500;
        }
    }

    .about-fund-section-continue {
        margin-top: 56px;
        @media (max-width: $width-l) {
            margin-tpo: 44px;
        }
        @media (max-width: $width-m) {
            margin-top: 24px;
        }
        @media (max-width: $width-m) {
            margin-top: 20px;
        }
    }

    .sub-info {
        & p {
            
            @media (max-width: $width-mobile) {
                height: 44px;
                padding-top: 9px;
                margin-bottom: 4px;
                position: relative;
                border-bottom: 1px solid $color-gray-300;
            }

        
        }
        
    }


}
