@import "../variables.scss";

/*AUCTION========================*/
.wc-auction {
    .auctions__description {
      font-size: 20px;
      font-weight: 600;
      line-height: 32px;
      margin: 0px 8.5% 56px;
      text-align: justify;
      @media screen and (max-width: $width-l) {
        font-size: 18px;
        line-height: 28px;
        margin: 0px 0px 44px;               
      }
      @media screen and (max-width: $width-m) {
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;                  
      }      
    }
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        margin-bottom: 56px;     
        @media screen and (max-width: $width-l) {
          gap: 24px;
          margin-bottom: 44px; 
        } 
        @media screen and (max-width: $width-m) {
          grid-template-columns: 1fr;        
        }  
        @media screen and (max-width: $width-mobile) {               
          gap: 16px;
          margin-bottom: 32px;             
        }
    }
    .product {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        padding: 32px;
        background-color: #FFFFFF;
        border-radius: 32px;
        border: 1px solid $color-gray-200;
        box-shadow: $box-shadow-normal;
        transition: all 1s ease;
        @media screen and (max-width: $width-l) {
          gap: 24px;
          padding: 20px;
          border-radius: 24px;
        }
        @media screen and (max-width: $width-m) {
          padding: 24px;
        }
        @media screen and (max-width: $width-mobile) {
          grid-template-columns: 1fr;
          gap: 16px;
          padding: 20px 20px 24px;
          border-radius: 16px;
        }
        &:hover {
            box-shadow: $box-shadow-hover;
            transition: all 1s ease;
            .product__button {
                border: 1px solid #262626;
                transition: all 1s ease;
            }
        }
    }
    .product-thumbnail {
      border-radius: 12px;
      min-height: 463px;
      @media screen and (max-width: $width-l) {
        min-height: 372px;
      }
      @media screen and (max-width: $width-m) {
        min-height: 421px;
      }
      @media screen and (max-width: $width-mobile) {
        min-height: 399px;
        border-radius: 8px;
      }
      img {
        border-radius: 12px;
        object-fit: cover;  
        height: 100%;     
        @media screen and (max-width: $width-mobile) {
          border-radius: 8px;
        }   
      }
    }
    .product-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;     
      margin-bottom: 90px;
      @media screen and (max-width: $width-l) {
        margin-bottom: 72px;
      } 
    }
    .woocommerce-loop-product__title {
      font-size: 20px;
      font-weight: 600;
      line-height: 32px;      
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      min-height: 64px;
      @media screen and (max-width: $width-l) {
        font-size: 18px;
        line-height: 28px;   
        min-height: 48px;
      }  
      @media screen and (max-width: $width-mobile) {
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
        text-align: center;
        min-height: 52px;
      }        
    }
    .auction-price {
      @media screen and (max-width: $width-l) {
        font-size: 14px;        
      }
      @media screen and (max-width: $width-m) {
        font-size: 16px; 
      }
      @media screen and (max-width: $width-mobile) {
        font-size: 12px; 
      }
    }
    .woocommerce-Price-amount {
      padding-left: 12px;
      font-family: $font-family-accent;
      font-size: 24px;
      font-weight: 700;
      line-height: 28.8px;
      color: $color-blue;   
      @media screen and (max-width: $width-mobile) {
        font-size: 18px;
        line-height: 22px;
      }   
    }
    .product__description {
      margin-bottom: 20px;
      @media screen and (max-width: $width-l) {
        font-size: 14px;        
      }
      @media screen and (max-width: $width-m) {
        font-size: 16px; 
      }
      @media screen and (max-width: $width-mobile) {
        font-size: 12px;
        line-height: 19px; 
        margin-bottom: 12px;
      }
    }
    .auction-time {
      font-size: 12px;
    }
    .add-wsawl.sa-watchlist-action:before,
    .remove-wsawl.sa-watchlist-action:before {
      content: '';
      background-image: url(../../../assets/images/heart-black.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-origin: border-box;
      border: none;
      width: 19px;
      height: 18px;
      display: inline-block;
      vertical-align: middle;
    }
    .auction-details {
      width: 240px;
      position: absolute;
      left: 52%;
      bottom: 32px; 
      @media screen and (max-width: $width-l) {
        bottom: 20px;
      }   
      @media screen and (max-width: $width-m) {
        bottom: 24px; 
      } 
      @media screen and (max-width: $width-mobile) {
        left: 17%;
      }
    }       
}

/*PAGINATION===========================*/
.woocommerce-pagination {  
    .page-numbers {
      display: flex;  
      justify-content: center;
      font-size: 18px;
      font-weight: 500;
      padding: 4px 8px;
    }
    .current {
      color: $color-blue;
      border-bottom: 2px solid $color-blue;
    }
  }
  