@import "../variables.scss";

.auctions {
    &__description {
        display: block;
        margin: 0px 8.5% 56px 8.5%;
        font-size: 20px;
        line-height: 32px;
        text-align:justify;
    }
    .pagination {
        display: flex;
        gap: 12px;
        align-items: center; 
        justify-content: center;             
        a:hover {
            color: $color-blue-hover;
        }
        span {   
            font-size: 18px;       
            color: $color-blue;  
            position: relative;      
            &::after {
                content: ''; 
                position: absolute; 
                bottom: -2px; 
                left: 0; 
                width: 120%; 
                height: 2px; 
                background-color: $color-blue 
            }       
        } 
    }
}
