@import "../variables.scss";
@import "../buttons.scss";

.hero {
  background: linear-gradient(
    138deg,
    #1699e0 2.4%,
    #5ec6dd 51.5%,
    #94f2ff 100%
  );
  width: 100%;
  min-height: 804px;
  position: relative;
  @media (max-width: $width-l) {
    min-height: 757px;
  }
  @media (max-width: 1150px) {
    min-height: 426px;
  }
  @media (max-width: $width-s) {
    min-height: 952px;
  }
  @media (max-width: 376px) {
    min-height: 720px;
  }
}

.hero-image-wrapper {
  width: 52%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  @media (max-width: $width-s) {
    left: -12px;
    top: -70px;
    width: 102%;
    height: auto;
  }
  @media (max-width: 376px) {
    top: -5px;
  }
}

.hero-text-wrapper {
  width: 50%;
  min-height: 804px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  @media (max-width: $width-l) {
    min-height: 757px;
  }
  @media (max-width: 1150px) {
    min-height: 426px;
  }
  @media (max-width: $width-s) {
    min-height: 952px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
  }
  @media (max-width: 376px) {
    min-height: 720px;
  }
}
.hero-sub-title {
  font-family: $font-family-accent;
  color: $color-white;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  @media (max-width: 376px) {
    font-size: 18px;
  }
}
.hero-text {
  color: $color-white;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  margin: 12px 0 72px;
  @media (max-width: $width-l) {
    font-size: 18px;
  }
  @media (max-width: 1150px) {
    margin: 20px 0 44px;
    font-size: 16px;
  }
  @media (max-width: $width-s) {
    font-size: 18px;
    text-align: center;
    margin: 24px 0 72px;
  }
  @media (max-width: 376px) {
    font-size: 16px;
    text-align: center;
    margin: 32px 0 64px;
  }
}
.hero-btn {
  @media (max-width: $width-s) {
    margin-bottom: 72px;
  }
  @media (max-width: 376px) {
    margin-bottom: 14px;
  }
}

.section {
  margin-top: 160px;
  @media (max-width: $width-l) {
    margin-top: 136px;
  }
  @media (max-width: $width-m) {
    margin-top: 120px;
  }
  @media (max-width: 376px) {
    margin-top: 84px;
  }
}
