@import "../variables.scss"; 


.individual-help-info {
    display: flex;
    gap: 80px;

    @media (max-width: $width-l) {
        gap: 64px;
    }

    @media (max-width: $width-m) {
        flex-direction: column;
        gap: 24px;
    }

    @media (max-width: $width-mobile) {
        gap: 20px;
    }

    .help-image-wrapper {
        width: 648px;
        height: 420px;
     
        border-radius: 32px;
        overflow: hidden;

        @media (max-width: $width-l) {
            width: 486px;
            height: 386px;
        }

        @media (max-width: $width-m) {
           width: 100%;
           height: auto;
        }
        

        img {
            object-fit: cover;
            height: 100%;
        }
    }

    .help-text{
        width: 54.5%;

        @media (max-width: $width-l) {
            width: 54.2%;
            
        }
        @media (max-width: $width-m) {
            width: 100%;
        }

        :not(:last-child) {
            margin-bottom: 32px;

            @media (max-width: $width-l) {
                margin-bottom: 24px;
            }
        }
    }
}

.need-help{

    .second-text {
        text-align: center;
        margin: 0 auto 56px auto;
        max-width: 1056px;
        @media (max-width: $width-l) {
            margin-bottom: 44px;
            max-width: 792px;
        }
        @media (max-width: $width-m) {
            text-align: start;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 24px;
            max-width: 100%;
        }
        @media (max-width: $width-mobile) {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }

    .form-and-contact-container {
        display: flex;
        justify-content: space-between;
        gap: 64px;

        @media (max-width: $width-m) {
            flex-direction: column;
            padding: 0 78px;
        }

        @media (max-width: $width-s) {
            padding: 0;
        }

        @media (max-width: $width-mobile) {
            gap: 16px;
        }
        

        .contact-form{
            width: 920px;
            padding: 64px 80px;
            background-color: $color-white;
            border: 1px solid $color-gray-300;
            border-radius: 32px;

            @media (max-width: $width-l) {
                padding: 48px 56px 56px;
                width: 752px;
            }

            @media (max-width: $width-m) {
                width: 100%;
            }

            @media (max-width: $width-mobile) {
                padding: 0;
                border: none;
                background-color: transparent;

            }

            .form-title {
                margin-bottom: 32px;
                @media (max-width: $width-mobile) {
                    display: none;
                }
            }

            p {
                &:not(:last-of-type) {
                    margin-bottom: 20px;
                    @media (max-width: $width-mobile) {
                        margin-bottom: 8px;
                    }
                }

                &:last-of-type {
                    margin-top: 44px;
                    @media (max-width: $width-mobile) {
                        margin-top: 36px;
                    }

                }
            }


            label {
                color:#343536;
            }

            input, textarea {
                width: 100%; 
                border: solid 1px $color-gray-300;
                border-radius: 12px;

                &::placeholder {
                    color: $color-gray-500;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                  
                    @media (max-width: $width-l) {
                      font-size: 14px;
                    }
                    @media (max-width: $width-m) {
                      font-size: 12px;
                    } 
                }
            }

            input {
                padding: 15px 16px;
            }

            textarea {
                padding: 2px 24px 2px 16px;
                resize: none;
                height: 100px;
                margin-top: 6px;
            }

            input[type=text],input[type=tel],input[type=email] {
                margin-top: 6px;
            }

            input.wpcf7-submit {
                width: 240px;
                font-size: 20px;
                line-height: 100%;
                font-weight: 700;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                transition: all $transition-base;
                user-select: none;
                cursor: pointer;
                color: $color-white;
                background-color: $color-blue;
                border-radius: 100px;
                border-color: transparent;
                padding: 19px 53px;
                min-width: 120px;

                @media (max-width: $width-l) {
                    padding: 20px 59.5px;
                    font-size: 18px;
                }
                @media (max-width: $width-m) {
                    padding: 20px 60px;
                }
                @media (max-width: $width-mobile) {
                    font-size: 16px;
                    width: 100%;
                }

                &:hover {
                    background-color: $color-blue-hover;
                    box-shadow: $box-shadow-normal;
                }

                &--disabled {
                    background-color: $color-gray-300;
                    pointer-events: none;
                }
            }
             
            .wpcf7-list-item {
                margin: 0;
            }


            .checkbox-consent {
            width: 20px;
            border: solid 1px $color-gray-300;
            border-radius: 12px;
            }
            
        }

        .contact-person-card {
            width: 512px;

            @media (max-width: $width-l) {
                width: 384px;
            }
            @media (max-width: $width-m) {
                width: 100%;
                display: flex;
                gap: 24px;
            }

            @media (max-width: $width-mobile) {
               flex-direction: column;
               gap: 16px;
               padding: 20px;
               border: 1px solid $color-gray-200;
               border-radius: 16px;
               box-shadow: 0 2px 8px 0 rgba(40, 41, 61, 0.04);
               background-color: $color-white;
            }
        }
    
        .photo-wrapper {
            height: 360px;
            border-radius: 20px;
            overflow: hidden;
            margin-bottom: 32px;
            @media (max-width: $width-l) {
                height: 280px;
                margin-bottom: 24px;
            }
            @media (max-width: $width-m) {
                height: 240px;
                border-radius: 16px;
                margin-bottom: 0;
            }
            @media (max-width: $width-s) {
                height: 280px;
            }
            @media (max-width: $width-mobile) {
                height: 200px;
            }
            img {
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        .info-wrapper{
            @media (max-width: $width-m) {
                width: 58.7%;
            }
            @media (max-width: $width-s) {
                width: 47.8%;
            }
            @media (max-width: $width-mobile) {
                width: 100%;
            }
        }

        .name-position-container {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 32px;
            @media(max-width: $width-l) {
                margin-bottom: 24px;
            }

            @media (max-width: $width-m) {
                display: flex;
                flex-direction: column-reverse;
                margin-bottom: 16px;
            }
            @media (max-width: $width-s) {
                flex-direction: column;
            }
        }
    
    
        .position {
           
            @media(max-width: $width-m) {
                font-weight: 500;
                font-size: 16px;
            }

        }
    
        .about-person-text{
            margin-bottom: 32px;
            @media(max-width: $width-l) {
                margin-bottom: 24px;
            }
            @media(max-width: $width-m) {
                display: none;
            }
            @media(max-width: $width-mobile) {
                display: block;
            }
        }
    
        .contacts-title {
            margin-bottom: 8px;
        }
    
        .contacts-item {
            &:not(:last-child) {
                margin-bottom: 12px;
                @media(max-width: $width-s) {
                    margin-bottom: 8px;
                }
                @media(max-width: $width-mobile) {
                    margin-bottom: 4px;
                }
            }
            
        }
    
        .contacts-link {
            display: flex;
            gap: 16px;
            @media(max-width: $width-mobile) {
                gap: 4px;
            }
        }
    
        .contact-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            svg {
                fill: $color-blue
            }
        }
    }

}