@import "../variables.scss";

.lot {   
  position: relative;
  .shop-cart {
    position: fixed;
    top: 23%;
    right: 10%;
    z-index: 10;
    .fa-cart {  
      background-image: url(../../../assets/images/shopping-cart.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-origin: border-box;
      border: none;
      width: 32px;
      height: 32px;
      padding: 15px;
      pointer-events: none;
    }
    .count {
      position: absolute;
      top: -25px;
      right: -7px;
      padding: 1px 4px;
      color: $color-white;
      background-color: $color-blue;
      border-radius: 50%;
      vertical-align: middle;      
    }
  }
     
    &__info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
    .woocommerce-product-gallery {
      position: relative;
    }
    .woocommerce-product-gallery__trigger {
      z-index: 1;
      position: absolute;
      top: 12px;
      right: 15px;
      width: 50px;
      height: 50px;
    }
    .woocommerce-product-gallery__wrapper {  
      img {
          border-radius: 32px;
        }
    }  
    .flex-control-nav {
      display: flex;
      gap: 4px;
      list-style-type: none;
      padding: 0px;
    }  
}
