@import "../variables.scss";

.lot {    
    &__info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
    .woocommerce-product-gallery {
      position: relative;
    }
    .woocommerce-product-gallery__trigger {
      position: absolute;
      top: 12px;
      left: 15px;
    }
    .woocommerce-product-gallery__wrapper {       
      img {
          border-radius: 32px;
      }
    }    
}
