@import "../variables.scss";

.lot {
    .woocommerce-loop-product__title {
        font-family: $font-family-accent;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        color: $color-blue;
        margin: 80px 0 32px 0;
        @media (max-width: $width-l) {
          font-size: 40px;
          margin: 80px 0 24px 0;
        }
        @media (max-width: $width-m) {
          font-size: 32px;
          margin: 56px 0 24px 0;
        }
        @media (max-width: $width-mobile) {
          font-size: 24px;
          margin: 40px 0 20px 0;
        }
    }
    &__info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
    &__image {        
        img {
            border-radius: 32px;
        }
    }
    &__summary {
        .entry-title {display: none;}
    }
}
