@import "../variables.scss";

.wishlist {    
    .product-thumbnail {
        img {
            border-radius: 16px;
        }
    }
    .product-content > :last-child {
        display: none;
    }
    .auction-details {
        min-width: 100%;
    }    
}
