@import "../variables.scss";

.wishlist {    
    .product-thumbnail {
        img {
            border-radius: 16px;
        }
    }
    .product-content > :last-child {
        display: none;
    }
    .auction-details {
        min-width: 100%;
    }
    .auction-time-countdown {       
        display: flex;
        flex-wrap: wrap;              
    }     
    .countdown_section {
        @media screen and (max-width: 1200px) {
            font-size: 8px;
        }
    }  
}
