@import "./variables.scss";
@import "./template-parts-styles/projects-part.scss";
@import "./template-parts-styles/pagination.scss";

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  .projects-list {
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    gap: 32px;
    @media screen and (max-width: $width-l) {
      gap: 24px;
    }
    @media screen and (max-width: 1100px) {
      grid: auto-flow / 1fr 1fr;
    }

    @media screen and (max-width: $width-mobile) {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }
}
.projects-card {
  border-radius: 32px;
  padding: 32px 32px 40px 32px;
  border: 1px solid $color-gray-200;
  box-shadow: $box-shadow-normal;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (max-width: $width-m) {
    gap: 12px;
  }
  @media screen and (max-width: $width-l) {
    padding: 20px 20px 32px 20px;
  }
  &:hover {
    box-shadow: $box-shadow-hover;
    transition: all $transition-base;
    @media screen and (max-width: $width-m) {
      box-shadow: $box-shadow-normal;
    }
    .card-title {
      color: $color-blue-hover;
      @media screen and (max-width: $width-m) {
        color: $color-text-primary;
      }
    }
  }

  .card-img {
    opacity: 0.9;
    @media screen and (max-width: 376px) {
      max-width: 303px;
    }
    img {
      height: 300px;
      border-radius: 16px;
      object-fit: cover;
      @media screen and (max-width: $width-l) {
        height: 238px;
      }
      @media screen and (max-width: $width-m) {
        border-radius: 8px;
      }
      @media screen and (max-width: $width-s) {
        height: 200px;
      }
    }
  }
  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
    @media screen and (max-width: 376px) {
      max-width: 303px;
    }

    .main-info {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    .secondary-info {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
  }
  .title-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 64px;
    @media screen and (max-width: $width-l) {
      height: 48px;
    }
  }
  .card-title {
    font-size: 20px;
    display: -webkit-box;
    text-align: center;
    align-items: flex-end;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    @media screen and (max-width: $width-l) {
      font-size: 18px;
    }
  }
  .card-text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    min-height: 78px;
  }

  .card-status {
    display: inline;
    margin-right: 16px;
    @media screen and (max-width: $width-m) {
      margin-right: 12px;
    }
  }
  .card-active {
    display: inline;
    &::before {
      content: "";
      margin-right: 8px;
      background: $color-success;
      border-radius: 50%;
      padding: 0px 10px;
    }
  }

  .card-disabled {
    display: inline;
    &::before {
      content: "";
      margin-right: 8px;
      background: $color-error;
      border-radius: 50%;
      padding: 0px 10px;
    }
  }
}
.btn-wrapper {
  display: flex;
  justify-content: center;
}
.button {
  @media (max-width: 376px) {
    width: 100%;
  }
}
