@import "variables.scss"; 

.footer {
    background: $color-text-primary;
    color: $color-white;
    padding-top: 80px;
    padding-bottom: 80px;

    .footer-wrapper {
        display: flex;
        gap: 32px;
        @media (max-width: $width-l) {
            gap: 24px;
        }

    }

    .footer-logo-socials-wrapper {
        max-width: 512px;
        @media (max-width: $width-l) {
            max-width: 384px;
        }
        @media (max-width: $width-m) {
            display: flex;
        }
    
        @media (max-width: $width-s) {
            display: block;
        }
    }

    .footer-heading {
        color: $color-white;
    }

    .footer-logo-wrapper {
        display: flex;
        justify-content: start;
        margin-bottom: 20px;
        @media (max-width: $width-l) {
            margin-bottom: 24px;
        }
    }
    

    .footer-logo-name {
        @media (max-width: $width-l) {
            font-size: 24px;
        }

    }

    .custom-logo-link {
        width: 42px;
        height: 56px;
        margin-right: 24px;
    }

    .footer-logo-description {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.6;
        margin-bottom: 20px;
        @media (max-width: $width-l) {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.4;
            margin-bottom: 50px;
        }
    }

    .footer-heading-socials {
        margin-bottom: 16px;
        @media (max-width: $width-l) {
            font-size: 18px;
            margin-bottom: 24px;
        }
    }

    .footer-heading {
        margin-bottom: 32px;
        @media (max-width: $width-l) {
            font-size: 18px;
            margin-bottom: 24px;
        }
    }

    .footer-menu-wrapper {
        width: 240px;
        @media (max-width: $width-l) {
            max-width: 180px;
        }
       
    }
    

    #menu-footer_menu {
        color: $color-white;
       
        .menu-item {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.6;
            height: 26px;
            @media (max-width: $width-l) {
                font-size: 14px;
                line-height: 1.4;
                height: 20px;
            }
            &:not(:last-child) {
                margin-bottom: 13px;
                @media (max-width: $width-l) {
                    margin-bottom: 20px;
                }

            }
        }
    }


    .contacts {
        max-width: 376px;
        @media (max-width: $width-l) {
            max-width: 282px;
        }
    }

    .contacts-item {
        @media (max-width: $width-l) {
            font-size: 14px;
            line-height: 1.4;
            font-weight: 400;
        }
        &:not(:last-child) {
            margin-bottom: 17px;
            @media (max-width: $width-l) {
                margin-bottom: 29px;
            }
        }
    }

    .contact-us {
        max-width: 376px;
        @media (max-width: $width-l) {
            max-width: 282px;
        }
    }

    .footer-button {
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        @media (max-width: $width-l) {
            font-size: 18px;
        }
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
    
}











