@import "./variables.scss";
@import "./buttons.scss";

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: $color-white;
}

.header-content {
  padding: 12px 0;
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto min-content min-content;
  grid-template-areas: "logo menu lang-btns login-btn";

  @media (max-width: $width-l) {
    padding: 10px 0;
  }

  @media (max-width: $width-m) {
    padding: 8px 0;
    grid-template-areas: "menu lang-btns logo login-btn";
    grid-template-columns: min-content min-content auto min-content;
  }
  @media (max-width: $width-xs) {
    padding: 5px 0;
  }
}

//Logo section
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  grid-area: logo;
  @media (max-width: $width-l) {
    gap: 12px;
    margin: 0 auto;
  }

  @media (max-width: $width-xs) {
    gap: 8px;
  }
}

.logo {
  width: 54px;
  height: 72px;

  @media (max-width: $width-l) {
    width: 42px;
    height: 56px;
  }
  @media (max-width: $width-xs) {
    width: 28px;
    height: 38px;
  }
  img {
    max-width: 100%;
  }
}

.logo-text {
  font-family: $font-family-accent;
  color: $color-blue;
  font-size: 18px;
  line-height: 140%;
  width: 82px;
  @media (max-width: $width-l) {
    font-size: 16px;
  }
  @media (max-width: $width-xs) {
    font-size: 10px;
    width: 53px;
    height: 28px;
  }
}

//Menu items
.menu {
  grid-area: menu;
  margin-left: auto;

  &--mobile .mobile-menu-nav {
    left: 0;
  }
}

.menu-nav {
  @media (max-width: $width-m) {
    display: none;
  }
}

.menu_list {
  display: flex;
  gap: 28px;
  @media (max-width: $width-m) {
    display: none;
  }
}

.menu-item {
  position: relative;
  padding: 4px 8px;

  &.current-menu-item a {
    color: $color-blue;
    &::after {
      opacity: 1;
    }
  }

  a {
    transition: color $transition-base;
    &::after {
      opacity: 0;
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $color-blue;
      transition: opacity $transition-base;
    }
    &:hover {
      color: $color-blue;
      &::after {
        opacity: 1;
      }
    }
  }
}

.current-menu-parent > a {
  color: $color-blue;
  transition: color $transition-base;
  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $color-blue;
    transition: opacity $transition-base;
    opacity: 1;
  }
}

.current-menu-parent {
  .current_page_item a {
    padding: 4px 0;
    &::after {
      content: none;
    }
  }
  & a:hover {
    &::after {
      content: none;
    }
  }
}
.menu-item-has-children > .sub-menu {
  display: none;
}

.current-menu-item > .sub-menu {
  position: absolute;
  left: 0;
  top: 96px;
  right: 0;
  z-index: 1;
  height: 120px;
  background-image: url("../images/bg/crop-sub-menu-bg.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  background-position: center;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
  width: 100vw;

  @media (max-width: $width-l) {
    height: 108px;
    gap: 32px;
  }
}

.current-menu-parent > .sub-menu {
  position: absolute;
  left: 0;
  top: 96px;
  z-index: 1;
  height: 120px;
  background-image: url("../images/bg/crop-sub-menu-bg.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
  width: 100vw;

  @media (max-width: $width-l) {
    height: 108px;
    gap: 32px;
  }
}

//Mobile version

// .mobile-menu-nav {
//   display: none;
//   transition: left $transition-base;
//   @media (max-width: $width-m) {
//     display: block;
//     position: absolute;
//     top: 100%;
//     left: -200%;
//     background-color: $color-white;
//     padding: 80px 40px 64px 40px;
//     height: auto;
//     width: 100%;
//     overflow: auto;
//     max-height: 80vh;
//   }
//   @media (max-width: $width-xs) {
//     top: 99%;
//     width: 100%;
//   }
// }

// .mobile-menu_list {
//   display: flex;
//   flex-direction: column;
//   gap: 12px;
//   .sub-menu {
//     margin-top: 4px;
//     display: flex;
//     flex-direction: column;
//     gap: 4px;
//     .menu-item {
//       padding: 10px 40px;

//         &.current-menu-item a {
//           &::after {
//             content: none;
//           }
//         }

//         a {
//           &:hover {
//             &::after {
//               content: none;
//             }
//           }
//         }
//     }
//   }
// }

// .mobile-menu_title-wrapper{
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   cursor: pointer;
//   border-bottom: 1px solid $color-gray-300;
// }

// .mobile-menu_title{
//   color: $color-text-primary;
//   font-family: $font-family-accent;
//   font-weight: 700;
//   font-size: 24px;
//   line-height: 120%;
//   transition: color $transition-base;
//   &:hover {
//     color: $color-blue;
//   }
//   @media screen and (max-width: $width-xs) {
//     font-size: 18px;
//   }
// }
// .mobile-menu_title--wrapper-open{
//   color: $color-blue;
// }

// .mobile-menu_icon{
//   width: 44px;
//   height: 44px;
//   padding: 18px 15px;
//   margin-bottom: 4px;
//   fill: $color-gray-500;
//   transform: rotate(180deg);
//   transition: $transition-base;
// }

// .mobile-menu_icon-rotate {
//   transition: $transition-base;
//   transform: rotate(360deg);
// }
// .mobile-menu_dropdown {
//   display: none;
//   &-active {
//     display: block;
//   }
// }

.menu-toggle {
  background-color: $color-white;
  width: 44px;
  height: 44px;
  grid-area: menu;
  border: 0;
  display: none;
  pointer-events: none;
  visibility: hidden;
  fill: $color-blue;

  &:hover {
    fill: $color-blue-hover;
  }

  @media screen and (max-width: $width-m) {
    display: inline-flex;
    pointer-events: all;
    visibility: visible;
    justify-content: center;
    align-items: center;
  }
}

//Change language buttons
.lang-btns {
  display: flex;
  gap: 1px;
  height: 29px;
  max-width: 105px;
  background-color: $color-gray-600;
  margin-left: 56px;
  grid-area: lang-btns;

  @media (max-width: $width-l) {
    margin-left: 32px;
  }
  @media (max-width: $width-m) {
    margin-left: 20px;
  }
  @media (max-width: $width-xs) {
    display: none;
    pointer-events: none;
    visibility: hidden;
  }
  button {
    background-color: $color-white;
    border: none;
    padding: 0 8px;
    font-weight: 600;
  }
}

//Account container
.account {
  grid-area: login-btn;
  margin-left: 20px;
  width: fit-content;

  .small-button {
    display: inline-flex;
  }
  .user-icon-button {
    display: none;
    pointer-events: none;
    visibility: hidden;
    width: 44px;
    height: 44px;
    fill: $color-blue;
    cursor: pointer;
    &:hover {
      fill: $color-blue-hover;
    }
  }
  @media (max-width: 480px) {
    margin: 0;
    .user-icon-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      pointer-events: all;
      visibility: visible;

      svg {
        padding: 3px 4px;
      }
    }
    .small-button {
      display: none;
    }
  }
}
