/*SHOP========================*/
.wc-auction {
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        margin-bottom: 56px;        
    }
    .product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        padding: 32px;
        background-color: #FFFFFF;
        border-radius: 32px;
        transition: all 1s ease;
        &:hover {
            box-shadow: 0px 4px 19px 0px #22222212;
            transition: all 1s ease;
            .product__button {
                border: 1px solid #262626;
                transition: all 1s ease;
            }
        }
    }
    .product-thumbnail {
      border-radius: 12px;
      img {
        border-radius: 12px;
        object-fit: cover;
        height: 100%;
      }
    }
    .product-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .product_type_auction {
        @extend .big-button;
        border-radius: 0 50px 50px 50px;
        min-width: 260px;
        background-color: $color-yellow;  
        text-align: center;          
        &:hover {
          border: 1px solid $color-text-primary;
          box-shadow: $box-shadow-normal;
        }
        @media (max-width: $width-l) {
          min-width: 240px;
        }
        @media (max-width: $width-xs) {
          width: 100%;
        }        
    }
}

/*CART========================*/
.cart__section {
  margin-top: 80px;  
  @media screen and (max-width: $width-m) {
    margin-top: 56px;
  }
  @media screen and (max-width: $width-mobile) {
    margin-top: 40px;
  }
}
