@import "../variables.scss";

.auction {
  .container {
    min-width: 0;
    overflow: hidden;
    .page-title {
      margin: 0 0 56px 0;
      @media (max-width: $width-l) {
        margin: 0 0 44px 0;
      }
      @media (max-width: $width-m) {
        margin: 0 0 20px 0;
      }
    }
    .auction-slider {
      position: relative;
      /*width: 100%;*/
      /*&.swiper-container{
        width: 100%;*/
        /*overflow: hidden;
      }*/
      &__wrapper {
        min-width: 0;
        width: 100%;
        display: flex;
        
      }
      .swiper-pagination {
          position: absolute;
          z-index: 10;
          bottom: -56px;
          width: 100%;

          @media screen and (max-width: 376px) {
            bottom: -5px;
          }
          &-bullet {
            width: 10px;
            height: 10px;
            background-color: $color-gray-400;
            @media screen and (max-width: $width-s) {
              width: 8px;
              height: 8px;
            }
            &-active {
              width: 14px;
              height: 14px;
              background-color: $color-gray-600;
              @media screen and (max-width: $width-s) {
                width: 10px;
                height: 10px;
              }
            }
          }
      }
    }
    /*.btn-seemore {

    }*/
  }
}

    