@import "../variables.scss";

.auction {
  .container {
    min-width: 0;
    overflow: hidden;
    .page-title {
      margin: 0 0 56px 0;
      @media (max-width: $width-l) {
        margin: 0 0 44px 0;
      }
      @media (max-width: $width-m) {
        margin: 0 0 20px 0;
      }
    }
    .auction-slider {
      position: relative;
      &__wrapper {
        min-width: 0;
        width: 100%;
        display: flex;
        margin-bottom: 126px;
        @media screen and (max-width: $width-l) {
          margin-bottom: 102px;
        }
        @media screen and (max-width: $width-m) {
          margin-bottom: 82px;
        }
        @media screen and (max-width: $width-s) {
          margin-bottom: 102px;
        }
        @media screen and (max-width: $width-mobile) {
          margin-bottom: 82px;
        }
      }
      .swiper-pagination {
          position: absolute;
          z-index: 10;
          width: 100%;
          bottom: calc((-126px / 2) - 5px);
          @media screen and (max-width: $width-l) {
            bottom: calc((-102px / 2) - 5px);
          }
          @media screen and (max-width: $width-m) {
            bottom: calc((-82px / 2) - 5px);
          }
          @media screen and (max-width: $width-s) {
            bottom: calc((-102px / 2) - 5px);
          }
          @media screen and (max-width: $width-mobile) {
            bottom: calc((-82px / 2) - 5px);
          }
          &-bullet {
            width: 10px;
            height: 10px;
            background-color: $color-gray-400;
            @media screen and (max-width: $width-s) {
              width: 8px;
              height: 8px;
            }
            &-active {
              width: 14px;
              height: 14px;
              background-color: $color-gray-600;
              @media screen and (max-width: $width-s) {
                width: 10px;
                height: 10px;
              }
            }
          }
      }
      .navigation-buttons {
        left: -50px;
        width: calc(100% + 100px);
      }
    }
  }
}

