@import "../variables.scss";

/*transferring =================*/
.transferring {            
    &__title {
        text-align: center;
        margin-bottom: 56px;
        @media screen and (max-width: $width-l) {
            font-size: 20px;
            margin-bottom: 44px;
        }
        @media screen and (max-width: $width-m) {   
            font-size: 18px;
            line-height: 28.8px;
            margin-bottom: 24px;
        }
        @media screen and (max-width: $width-mobile) {
            font-size: 16px;
            margin-bottom: 12px;
            text-align: left;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 8.8%;  
        @media screen and (max-width: $width-l) {
            gap: 3.4%;                                  
        }
        @media screen and (max-width: $width-m) {
            gap: 8.8%;            
        }
        @media screen and (max-width: $width-s) {
            gap: 3.4%;                      
        }
        @media screen and (max-width: $width-mobile) {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3.7%;           
        }
    }
    a {
        transition: all ease 0.4s;
        &:hover {                    
            transform: scale(1.1);
        }
    }            
    &__img {
        padding: 18px 10px;
        border-radius: 12px;
        background: #FFFFFF;
        box-shadow: 5px 6px 15px 5px #9797971A;
        @media screen and (max-width: $width-l) {
            padding: 12px;
        }
        @media screen and (max-width: $width-m) {
            padding: 9px 12px;
            border-radius: 6px;
        }
        @media screen and (max-width: $width-mobile) {
            padding: 9px 6px;
        }
        img {           
            height: 70px;
            border-radius: 12px;
            @media screen and (max-width: $width-l) {
                height: 82px;
            }
            @media screen and (max-width: $width-m) {
                height: 35px;
                border-radius: 6px;
            }                    
        }
    }
}